* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --top-bar-height: 50px;
    --bottom-bar-height: 100px;
    --main-col-gap: 5px;
    --user-name-font-size: 0.8rem;
    --bottom-bar-icon-size: 1.6rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.top-bar-container {
    height: var(--top-bar-height);
    background-color: black;
    position: relative;
}

.top-bar-container .top-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.top-bar-container .top-right span {
    background-color: rgba(128, 118, 118, 0.506);
    padding: 5px;
    margin-right: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.main-container {
    background-color: black;
    height: calc(100vh - var(--bottom-bar-height) - var(--top-bar-height));
    padding: 1rem 2rem;
    overflow: auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap-on {
    flex-wrap: wrap;
}

.main-member-gap {
    gap: var(--main-col-gap);
}

.col-7 {
    flex-basis: calc(100% / 7 - var(--main-col-gap));
}

.main-member-gap > .col-7 {
    margin-bottom: 10px;
}

.member-container {
    position: relative;
}

.member-container .member {
    width: 100%;
    object-fit: cover;
}

.member-container .user-name-container {
    display: none;
    background-color: rgba(5, 5, 5, 0.506);
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: var(--user-name-font-size);
    padding: 0.2rem 0.3rem;
}

.member-container:hover .user-name-container{
    display: inline-block;
}

.bottom-bar-container {
    height: var(--bottom-bar-height);
    background-color: #222222;
}

.col-sides {
    flex-basis: calc(100% / 6);
}

.height-100 {
    height: 100%;
}

.col-central {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
}

.button-container {
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
}

.button-container.more-left-space {
    margin-left: 1rem;
}

.button-container.text-align-left {
    text-align: left;
}

.button-container .icon-container {
    font-size: var(--bottom-bar-icon-size);
}

.button-container .icon-name {
    font-size: 0.8rem;
}

.arrow-icon-container {
    cursor: pointer;
    font-size: calc(var(--bottom-bar-icon-size) * 0.5);
}

.icon-container.green-color {
    color: rgb(67, 165, 67);
}

.icon-container {
    padding-bottom: 0.5rem;
}

.end-button {
    background-color: #4A4A4A;
    color: red;
    text-align: right;
    display: inline-block;
    height: var(--bottom-bar-height);
    padding: 0 1rem;
    font-size: 0.8rem;
}

.bottom-right {
    display: flex;
    flex-direction: row-reverse;
    line-height: var(--bottom-bar-height);
}

.bottom-right .button-container {
    padding: 0;
}